
*{
    margin: 0;
    padding: 0;
}
#title{
    color: #ffffff;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin-top: 5%;
}
a{
    margin-left: 3px;
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;font-size:larger;
}
.imagen{
    max-width: 100%;
    margin-right: 450px;
    margin-top: 80px;
}
.menu{
    flex-grow: 1;
}
.contenedor{
    display: flex;align-items:center;
}
body{
    background-color:#000000;
}
a{
    text-decoration: none;
}

